extends ./layouts/layout-full-width

block header
  +header
block slider
  include ./home/hero/hero
block content
  div some teht here

block footer
  +footer
block scripts
  +scripts('index')
block styles
  +styles('index')