.services 
  .__container
    h2.title Obszary naszych kompetencji
    p Pomagamy uczyć się na błędach innych. Wspieramy i rekomendujemy wartościowe rozwiązania biznesowe.
    .circle-wrapper
      p.circle-wrapper__title poznaj nasze kompetencje
      .item
        .circle
          +icon('svg-1')
        p Prawo międzynarodowe
      .item
        .circle
          +icon('svg-2')
        p Finansowanie handlu międzynarodowego
      .item
        .circle
          +icon('svg-3')
        p Pozyskiwanie inwestorów (M&A)
      .item
        .circle
          +icon('svg-4')
        p Nieruchomości
      .item
        .circle
          +icon('svg-5')
        p Komercjalizacja własności intelektualnej
      .item
        .circle
          +icon('svg-6')
        p Podnoszenie produktywności
      .item
        .circle
          +icon('svg-7')
        p Crowdfunding
      .item
        .circle
          +icon('svg-8')
        p Ubezpieczenia międzynarodowe
      .item
        .circle
          +icon('svg-9')
        p Marketing 360º
      .item
        .circle
          +icon('svg-10')
        p Zarządzanie projektami
      .item
        .circle
          +icon('svg-11')
        p  Dotacje i granty międzynarodowe
      .item
        .circle
          +icon('svg-12')
        p  Międzynarodowa księgowość, kadry i podatki 