include ../_mixins
include ../_data
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        +metahead
        title Index 
        //- include ../_partials/inline   
    body.index
      header.header
          block header 
      main.home
          block content

    footer.footer.__container
        block footer
    block scripts
    block styles