extends templates/layouts/layout-full-width

block header

block content

    include templates/services/services
    include templates/form/form

       
block footer
 
block scripts
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")

block styles

